<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-perguntar">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form>
                    <label>Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control"/>
                    <br><label>Descrição</label>
                    <textarea placeholder="Descreva aqui sua pergunta" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>

            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
